.content-parts {

  .part {
    padding: 56px 74px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #DEE1E7;

    &:last-child {
      border-bottom: none;
    }

    h3 {
      //.font-l3;
      color: #767E8A; // @color-grey2    
      font-size: 28px;
    }

    .wrapper {
      display: flex;
      justify-content: center;

      .list {
        display: block;
        flex-direction: column;

        span {
          text-align: center;
          font-family: 'sourcesanspro-light-italic';
          font-size: 50px;
          line-height: 128px;
          color: #C7CDD9; //@color-grey3;
        }
      }
    }
  }
}