<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Accessibility Cloud – Welcome</title>
    <link rel="StyleSheet" href="styles/common.css" type="text/css" media="all"/>
    <link rel="StyleSheet" href="styles/layout.css" type="text/css" media="all"/>
    <link rel="StyleSheet" href="styles/fonts.css" type="text/css" media="all"/>
  </head>
  <body>
	{{{body}}}
  </body>
</html>

