<template name="component_source">
  {{#with source}}
    <li class='list block for-source {{classIfDraft}} '>
      <a href='{{pathFor "sources.show" _id=_id}}'>
        {{#if isDraft}}
          <span class='secondary'>
            {{_"Draft: "}}
          </span>
        {{/if}}

        <span class='main'>
          {{name}}

          {{#if shouldShowOrganizationName}}
            <span class='subtle'>by {{getOrganization.name}}</span>
          {{/if}}
          {{#unless isVisible}}
            <span class="private-source-icon"></span>
          {{/unless}}

          <span class='badge on-right' title={{_ "Number of data records provided by this data source"}}>{{this.documentCount}}</span>
        </span>

        <div class='details'>
          {{#if getLicense}}
            <span class='on-right' title={{_ "License of this source"}}>
              {{#with getLicense}}
                {{#if shortName}}
                  {{shortName}}
                {{else}}
                  {{name}}
                {{/if}}
              {{/with}}
            </span>
          {{/if}}
        </div>
      </a>
    </li>
  {{/with}}
</template>
