<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/view_place.css' />
    <link rel='stylesheet' href='/less-css/common.css' />

  </head>
  <body>
    {{{body}}}
  </body>
</html>
