@import './utils.less';

a.call-to-action.button,
button.btn.btn-primary,
button.btn-primary {
  color:purple;
  min-width: 10em;
  margin: 1em 0;
  padding: 0 18px;
  .font-s3;
  .type-regular;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: @color-primary;
  cursor: pointer;

  &:hover {
    background-color: #29A3CB;
  }

  &.unchanged {
    background-color: @color-grey085;
  }
}

a.call-to-action.button.big {
  .font-m2;
  .type-light;
  line-height: 2;
  min-width: 7em;
}

a.link {
  display: inline;
}

.placeholder {
  .font-l1;
  .type-lightitalic;
  color: @color-text-muted;
  text-align: center;
  min-height: 128px;
}

ul.with-blocks {
  // padding-top:0.5em;
  padding-bottom:1em;

  li.list.block {
    background-color: white;
    box-shadow: 0 0 2px  rgba(0,0,0, 0.3);

    a {
      display:block;
      padding:10px;
      margin-bottom:1px;
    }

    &:hover {
      box-shadow: 0 0 4px  rgba(0,0,0, 0.5);
    }

    &.active {// FIXME: please style me
      background-color:#ddd;
      border-left:2px solid black;
    }
  }
}

.dashboard.widget {
  min-width: 29%;
  text-align: center;
  // min-height: 100%/3;
  flex: 1;
  margin-right: @page-horizontal-padding;
  padding-bottom: 1em;
  border-bottom: 1px solid @color-grey091;

  &:last-child {
    margin-right: 0;
  }

  h2 {
    text-align: center;
  }
}

.dashboard.widget.with-list {
  display: flex;
  flex-direction: column;

  ul li a {
    color: @color-text;
    .font-m1;
    .type-light;
  }
  a.add-entry {
    text-align: center;
    margin: 1em 0;
  }
}

.dashboard.widget.single-widget {
  //width: 29%;
  flex-grow:0;
}

.dashboard.widget.with-list.organisations,
.dashboard.widget.with-list.sources, {
  ul li {
    position: relative;

    a {
      padding-left: 1.6em;

      &:before {
        text-align: center;
        position: absolute;
        left: 10px;
        .font-icons;
        color: @color-grey091;
        font-size: 1em;
      }
    }
  }
}

.dashboard.widget.with-list.organisations {
  ul li a:before {
    content: '∏';
    font-size: 16px;
    top: 8px;
  }
}

.dashboard.widget.with-list.sources {
  ul li a:before {
    content: 'y';
  }
}

.sidebar {

  h2 {
    .font-s3;
    .type-bold;
    color: @color-text;
  }

  li.item.block {
    margin-top:1px;
    border-bottom: 1px solid @color-grey091;

    a {
      padding: 1em;
      display: block;
      margin-top: 0;
      .font-m1;
      .type-light;
      color: @color-text;
    }
  }

  li.item.block.active a,
  li.item.block a:hover
     {
      box-shadow: 0px 0px 1px 0px rgba(55,64,77,0.40), inset 4px 0px 0px 0px #767E8A;
      background-color: white;
      .type-regular;
      letter-spacing: -0.015em;
    }

  &:last-child {
    margin-bottom: 1.7em;
  }
  a {
    padding: 1.4em;
  }
}

.code-block {
  padding: 4px 4px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  white-space: pre-wrap;
  .type-code;
  .font-s3;
  line-height: 1.3em;
  border-radius: 4px;
  border: 1px solid @color-code-border;
  background-color: @color-code-area;
  max-width: 40em;
}

.attribute-list {
  //border-left: 2px solid white;
  background-color: white;

  h2 {
    // margin-top: 1.6em;
    padding-left: 1em;
  }

  a {
    //flex-grow: 1;
    display: inline-block;
  }

  p {
    margin-bottom: 0.75em;
  }

  >div {
    padding:2em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid @color-grey096;

    label {
      color: @color-text-muted;
      display: inline-block;
      width:150px;
      margin-right:20px;
      // text-align: right;
      text-align: left;
      padding-bottom: 0.5em;

      &:after {
        content:':';
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.hints {
  max-height: 26em; // FIX ME: adaptive height would be better
  max-width: 30em;
  margin-top: @page-padding-top;
  margin-left: @page-horizontal-padding;
  padding: 0px 40px;
  border-left: 1px solid @color-grey091;

  h3 {
    position: relative;
    padding-left: 2em;
    padding-bottom: 1em;
    //line-height: 100px;
    .font-m1;
    .type-light;

    &:before {
      position: absolute;
      top:-5px;
      left:-5px;
      content: '\e827';
      .font-icons;
      font-size: 2em;
      color: @color-grey085;
    }
  }

  ol {
    .font-s3;
    .type-light;

    li {
      position: relative;
      padding-left: 2em;
      padding-bottom: 18px;
      line-height: 21px;

      &:before {
        content: '✓';
        position: absolute;
        left: 7px;
        top: 0;
        color: @color-grey054;
      }
    }
  }
}

.offline-indicator {
  position:fixed;
  top:25px;
  right:45%;
  background-color: white;
  font-weight: bold;
  padding:0.5em 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 10000;

  span {
    color: @color-error;
    margin-left:20px;
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  span:before {
    content: 'r';
    font-family: iconfield;
    position: absolute;
    color: @color-error;
    left:10px;
    -webkit-transform-origin: 50% 50%;
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-animation: spin 5s infinite linear;
    -moz-animation: spin 5s infinite linear;
    -o-animation: spin 5s infinite linear;
    animation: spin 5s infinite linear;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: bottom;
    line-height: 20px;
  }
}

.errors {
  background-color: white;
  color: @color-error;
  font-family: monospace;
  font-size:14px;
  ul {
    li  {
      margin-left: 2em;
      margin-bottom:5px;
    }
  }
}
