.leaflet-marker-icon.ac-marker {
  background-size: contain;
  text-align: center;
  padding: 2px;

  img {
    opacity: 0.7;
    width: 15px;
    margin-top: 2px;
  }
}

.leaflet-marker-icon.ac-place-info {
  background-image: url(/icons/marker-shield-gray.png);
  &.red {
    background-image: url(/icons/marker-shield-red.png);
  }
  &.green {
    background-image: url(/icons/marker-shield-green.png);
  }
}
