.leaflet-marker-icon.ac-marker {
    background-image: url(/icons/marker-shield-gray.png);
    background-size: contain;
    text-align: center;
    padding: 4px;

    img {
      opacity: 0.7;
    }

    &.red {
      background-image: url(/icons/marker-shield-red.png);
    }
    &.green {
      background-image: url(/icons/marker-shield-green.png);
    }
}