@import '/client/stylesheets/_util/colors.import.less';

.page-content.sources_show_imports_page {
  .sidebar {
    .file-upload {
      margin-bottom: 1em;
    }

    ul.source-imports {
      > li {
        &.is-finished span.status {
          background-color: @color-positive;
        }
        &.is-aborted span.status {
          background-color: @color-warning;
        }
        &.has-error span.status {
          background-color: @color-error;
        }
        span.status {
          display: inline-block;
          width: .5em;
          height: .5em;
          border-radius: 1em;
          color: transparent;
          vertical-align: middle;
          margin-left: 0.2em;
        }
      }
    }
  }
}
