@import './utils.less';

a.call-to-action.button {
  // font-size: 20px;
  // margin-bottom: 10px;
  //@color-primary cursor: pointer;
  display: block;
  display: inline-block;
  padding: 0 18px;
  color: white;
  font-family: 'sourcesanspro-regular';
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  background-color: @color-primary;
  //width:@width1;
}

a.call-to-action.button.big {
  font-family: 'sourcesanspro-light';
  font-size: 24px;
  line-height: 56px;
  min-width: 7em;
}

a.call-to-action.button:hover {
  background-color: #29A3CB;
}

a.link {
  display: inline;
}

.placeholder {
  .font-l3;
  text-align: center;
  line-height: 128px;
}