@import './utils.less';

a.call-to-action.button,
button.btn.btn-primary,
button.btn-primary {
  min-width: 10em;
  margin: 1em 0;
  padding: 0 18px;
  .font-s3;           
  .type-regular;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: @color-primary;
  cursor: pointer;

  &:hover {
    background-color: #29A3CB;
  }
}

a.call-to-action.button.big {
  .font-m2;           
  .type-light;
  line-height: 56px;
  min-width: 7em;
}

a.link {
  display: inline;
}

.actions

.placeholder {
  .font-l1;
  .type-lightitalic;
  color: @color-text-muted;
  text-align: center;
  line-height: 128px;
}

.hints {
  max-height: 26em; // FIX ME: adaptive height would be better
  max-width: 30em;
  margin-top: @page-padding-top;
  margin-left: @page-horizontal-padding;
  padding: 0px 40px;
  border-left: 1px solid @color-grey091;

  h3 {
    position: relative;
    padding-left: 2em;
    padding-bottom: 1em;
    //line-height: 100px;
    .font-m1;
    .type-light;

    &:before {
      position: absolute;
      top:-5px;
      left:-5px;
      content: '\e827';
      .font-icons;
      font-size: 2em;
      color: @color-grey085;
    }
  }

  ol {
    .font-s3;
    .type-light;

    li {
      position: relative;
      padding-left: 2em;
      padding-bottom: 18px;
      line-height: 21px;

      &:before {
        content: '✓';
        position: absolute;
        left: 7px;
        top: 0;
        color: @color-grey054;
      }
    }
  }
}