@import './utils.less';

form {
  //padding: @page-padding-top @page-horizontal-padding;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .form-group {
    margin-top: 2em;
    width: 26em;
    max-width: 90vv;

    input {
      width:100%;
      border: none;
      border: 1px solid @color-grey091;
      border-radius: 6px;
			//font-size: 16px;
			//color: @color-grey030;
			.font-s3;
      .type-regular;
      font-size: 18px; 
      letter-spacing: 0px;
      padding: 0 8px;
      line-height: @lineheight-forms;

      &[type="checkbox"] {
        width: auto;
        margin-right: 10px;
      }

      &:focus {
        border: 1px solid @color-primary;    
      }
    }

    // input[type=email],
    // input[type=password] {}

    label {
      margin-top: 3em;
      color: @color-grey054;
    	.font-s3;
      .type-regular;
      //line-height: 18px;
      margin-bottom: 0.5em;
    }

    span.help-block {
      .font-s3;
      .type-regular;
      line-height: 2em;
      color: @color-error;
      transition: 0.5s;
    }

    &.has-error {
              transition: 0.5s;
      input {
      	border: 1px solid @color-error;
      }
      label {
        //color: @color-error;
      }
    }
  }

  button.btn.primary {
    margin-top: 2em;
  }
}