@import './utils.less';

// ac - new layout variables
@padding-left: 2em; // 5.14em needed when logo is visible
@padding-top: 2em;  // 4em needed when logo is visible


.page.content.block {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;

  padding:@padding-left @padding-top;
  border-bottom: 1px solid @color-grey4;

  &:last-child {
    border-bottom: none;
  }

  ul.with-blocks {
    padding-top:0.5em;
    padding-bottom:1em;
  }

  li.list.block {
    background-color: white;
    box-shadow: 0 0 4px  rgba(0,0,0, 0.3);

    a {
      display:block;
      padding:10px;
      margin-bottom:2px;
    }

    &:hover {
      box-shadow: 0 0 4px  rgba(0,0,0, 0.5);
    }
  }
}

