@import './utils.less';

.sidebar {  // FIXME: please style me
  background-color: white;
  max-width:200px;
  float:left;
  padding:1em;
}

.content-scrollable {

}

.content-scrollable.two-columns {
  display: flex;
}

.page.content.block {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;

  padding:@page-horizontal-padding @page-padding-top;
  border-bottom: 1px solid @color-grey091;

  &:last-child {
    border-bottom: none;
  }
}

ul.with-blocks {
  padding-top:0.5em;
  padding-bottom:1em;

  li.list.block {
    background-color: white;
    box-shadow: 0 0 4px  rgba(0,0,0, 0.3);

    a {
      display:block;
      padding:10px;
      margin-bottom:2px;
    }

    &:hover {
      box-shadow: 0 0 4px  rgba(0,0,0, 0.5);
    }

    &.active {// FIXME: please style me
      background-color:#ddd; 
      border-left:2px solid black;
    }
  }
}

