// Color variables (appears count calculates by raw css)
@color0: #a23533; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width1: 100%; // Appears 3 times





.page.content.block {
  max-width:1200px;
  margin-left: auto;
  margin-right: auto;

  padding:2em;
  border-bottom: 1px solid gray;  // please fix me
}

ul.with-blocks {
  padding-top:0.5em;
  padding-bottom:1em;
}

li.list.block {
  background-color: white;
  box-shadow: 0 0 4px  rgba(0,0,0, 0.3);

  a {
    display:block;
    padding:10px;
    margin-bottom:2px;
  }

  &:hover {
    box-shadow: 0 0 4px  rgba(0,0,0, 0.5);
  }
}


.header {
  //color:white;
  background-size:100%;
  background: url(../images/theme/header-background.png) no-repeat left bottom;
  padding:1em 1em;
  position: relative;
  z-index: 10;
  h1 {
    background-size: 50px;
    background: url(../images/theme/ac-icon-white.png) left center no-repeat;
    font-family: sourcesanspro-light;
    font-size: 37px;
    font-weight:normal;
    line-height: 70%;
    padding-left:70px;
    padding-top:10px;
    small {
      // padding-left: 1em;
      display: block;
      font-family: sourcesanspro-regular;
      font-size:12px;
      font-weight: normal;
    }
  }
}

.content {
  .input.area {
    align-items:flex-end;
    border-bottom: none;
    display: flex;
    flex-direction:column;
    margin-top: -20px;
    padding-top:0;
    position: relative;
    z-index: 20;
  }
  .claim {
    padding-top: 0px;
    text-align:center;
    h1 {
      //color: @color0;
      font-family: 'sourcesanspro-light';
      font-size: 50px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 90%;
      padding-bottom: 0.2em;
    }
  }
}

.area {
  // margin-bottom: 1rem;
  border-bottom: 1px solid white;
  padding:1.5em 2em;
  &:last-child {
    border: none;
  }
}

div.area.statistics {
  // border:1px solid red;
  // margin-top:2em;
  display:flex;
}

a.number-block {
  // background-color: white;
  // border:1px solid grey;
  background-color: none;
  color: #32A0E6;
  flex:1;
  margin: 10px;
  padding: 0.5em 1em;
  text-align: center;
  transition:0.3s all;
  &:hover {
    background-color: white;
    transition:0.3s all;
  }
  header {
    font-family: sourcesanspro-extralight;
    font-size:50px;
    line-height: 100%;
    padding-bottom: 5px;
  }
  footer {
    font-family: sourcesanspro-semibold;
    font-size:12px;
    text-transform: uppercase;
  }
}

div.actions.area {
  display:flex;
}

.actions.area {
  .pannel {
    flex:1;
    padding:0 25px;
    header {
      //color: @color0;
      font-family: sourcesanspro-semibold;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
  }
}

a.call-to-action.button {
  &:hover {
    background-color: #29A3CB;
  }
  // font-size: 20px;
  // margin-bottom: 10px;
  //@color-primary cursor: pointer;
  background-color: #1FABD9;
  color: white;
  display: block;
  display: inline-block;
  font-family: 'sourcesanspro-regular';
  font-size: 18px;
  line-height: 48px;
  padding: 0 18px;
  text-align: center;
  text-transform: uppercase;
  width:@width1;
}

h2 {
  font-family: sourcesanspro-light;
  font-weight: normal;
}

.partners.area {
  text-align: center;
  text-transform: uppercase;
  h2 {
    opacity: 0.3;
    padding-bottom: 20px;
  }
}

a.partner.logo {
  // border:1px solid red;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height:50px;
  margin-bottom: 10px;
  width:120px;
}

.map-container {
  background-size: cover;
  background: url(../images/theme/world-map.png) center center no-repeat;
  border:2px orange;
  height:350px;
  margin-top: -40px;
  position: relative;
  top:0px;
  width: @width1;
  &:after {
    background: url(../images/theme/tilted-top-edge.png) center center no-repeat;
    bottom:0;
    content:" ";
    display: block;
    height:60px;
    left:0;
    position: absolute;
    width:@width1;
  }
}