@import '/client/stylesheets/_util/typography.import.less';
@import '/client/stylesheets/_util/colors.import.less';

ol.stream-chain {
  font-size: 12px;

  li.item {
    position: relative;
    margin-bottom: 1px;
    padding: 7px;
    background-color: @color-grey085;

    header.name, aside.progress {
      font-size: 120%;
      .type-bold;
    }

    &.is-skipped {
      background-color: mix(@color-warning, @color-grey085, 5%);
      .name, aside.progress, .code-block.warning {
        color: @color-warning;
      }
      .name {
        text-decoration: line-through;
      }
    }

    &.has-error {
      background-color: mix(@color-error, @color-grey085, 5%);
      .name, aside.progress, .code-block.error {
        color: @color-error;
      }
    }

    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      background-color: @color-primary;
      opacity: 1;
      transition: opacity 1s ease-out;
    }

    aside.progress {
      float: right;
    }

    &.is-finished {
      .progress-bar {
        opacity: 0;
      }

      aside.progress, .checkmark {
        color: @color-positive;
      }
    }
  }

  .name {
    .type-bold;
  }

  dl.parameters {
    display: inline-block;
    margin-top: 0.5em;

    dt, dd {
      float: left;
    }
    dt {
      clear: both;
      width: 7em;
    }
    dd {
      word-break: break-word;
      .type-code;
      white-space: pre-wrap;
    }
  }

  .code-block {
    font-size: 10px;
    width: 100%;
    max-width: none;
    overflow: scroll;
    background-color: @color-grey091;
    padding: 7px;
  }
}
