<template name="sources_stream_chain">
  <ol class='stream-chain'>
    {{#each streamChain}}
      <li class='item {{#if debugInfo.error}}has-error{{/if}}'>
        <header class='name'>{{camelize type}}</header>
        {{#with debugInfo.progress}}
          <aside class='progress'>

            {{transferred}}

            {{#if length}}
            of {{length}}
            {{/if}}

            {{#if unitName}}
              {{unitName}}
            {{else}}
              bytes
            {{/if}}
          </aside>
        {{/with}}
        <dl class='parameters'>
          {{#each keyValue parameters}}
            <dt>{{humanize key}}</dt>
            <dd>{{stringify value}}</dd>
          {{/each}}
        </dl>
        {{#with debugInfo}}
          <div class='code-block'>{{stringify this}}</div>
        {{/with}}
      </li>
    {{else}}
      <span class='placeholder'>No Input Stream defined</span>
    {{/each}}
  </ol>
</template>
