.header {
    background: url(../images/theme/header-background.png)     
    no-repeat left bottom;
    background-size:100%;
    max-height: 290px;
    min-height: 90px;
    padding:1em 1em;
    color:white;    
    z-index: 10;
    position: relative;
}
.header h1 {
    font-family: sourcesanspro-light;
    font-weight:normal;
    font-size: 37px;
    line-height: 70%;
    background: url(../images/theme/ac-icon-white.png) left center no-repeat;
    background-size: 50px;
    padding-left:70px;
    padding-top:10px;
}

.header h1 small {
    font-size:12px;
    // padding-left: 1em;
    font-family: sourcesanspro-regular;
    font-weight: normal;
    display: block;
}

.content .input.area {
    margin-top: -20px;
    padding-top:0;
    display: flex;
    align-items:flex-end;
    flex-direction:column;
    z-index: 20;
    position: relative;
    border-bottom: none;
}

.content .claim {
    padding-top: 0px;    
    text-align:center;
}

.area {
    padding:1.5em 2em;    
    // margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.area:last-child {
    border: none;
}

.content .claim h1 {
    font-family: sourcesanspro-light;
    font-weight: normal;
    font-size: 50px;
    color: #A23533;
    letter-spacing: 0px;
    line-height: 90%;
    padding-bottom: 0.2em;
}

div.area.statistics {
    // margin-top:2em;
    display:flex;    
    // border:1px solid red;
}

a.number-block {
    flex:1;
    color: #32A0E6;
    text-align: center;  
    // border:1px solid grey;
    // background-color: white;
    margin: 10px;
    padding: 0.5em 1em;
    background-color: none;
    transition:0.3s all;
}

a.number-block:hover {
    background-color: white;
    transition:0.3s all;
}

a.number-block header {
    font-size:50px;
    font-family: sourcesanspro-extralight;    
    line-height: 100%;
    padding-bottom: 5px;
}

a.number-block footer {
    font-size:12px;
    text-transform: uppercase;
    font-family: sourcesanspro-semibold;
}


/* ----- CALL TO ACTIONS ----------- */
div.actions.area {
    display:flex;
}

.actions.area .pannel {
    flex:1;
    padding:0 25px;
}

.actions.area .pannel header {
    color: #A23533;
    font-family: sourcesanspro-semibold;
    text-transform: uppercase;
    padding-bottom: 5px;
}

a.call-to-action.button {
    background-color: #A23533;
    color:white;
    text-transform: uppercase;
    line-height: 40px;
    width:100%;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

h2 {
    font-family: sourcesanspro-light;
    font-weight: normal;
}

.partners.area {
    text-align: center;
    text-transform: uppercase;    
}

.partners.area h2 {
    opacity: 0.3;
    padding-bottom: 20px;

}

a.partner.logo {
    // border:1px solid red;
    display: inline-block;
    width:120px;
    height:50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 10px;
}

.map-container {
    height:350px;
    background:  url(../images/theme/world-map.png) center center no-repeat;
    background-size: cover;
    margin-top: -40px;
    border:2px orange;
    position: relative;
    width: 100%;
    top:0px
}

.map-container:after {
    display: block;
    content:" ";
    position: absolute;
    bottom:0;
    left:0;
    height:60px;
    width:100%;
    background:  url(../images/theme/tilted-top-edge.png) center center no-repeat;
}