@import "/client/stylesheets/utils.less";

a {
  text-decoration: none;
}

.user.menu {
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  padding:10px;
  position: relative;
}

header.main-header {

  padding:1em 2em;
  background-color: @color-grey4;

  .account-options {
    float:right;
  }

  a {
    color: #444;
  }

  ul.page-sections {
    li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
    }
  }

  ul.main-navigation {
    li {
      list-style: none;
      display: inline-block;

      font-size:40px;
      font-weight: lighter;

      &:after {
        content:'/';
        opacity: 0.5;
      }
      &:last-child {
        font-weight: bold;

        &:after {
          content:'';
          opacity: 0.5;
        }
      }

      a {
        font-family:'sourcesanspro-light';

        &:hover {
          color:red;
        }
      }
    }
  }
}

header.main-header .sub-header {
  padding-top:10px;
  a{
    margin-right:2em;
  }
  a.active {
    font-weight: bold;
  }
}