  @import "/client/stylesheets/utils.less";

a {
  text-decoration: none;
}

.user.menu {
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  padding:10px;
  position: relative;
}

header.main-header {
  width: 100%;
  min-height: 110px;
  background-color: @color-grey091;

  .wrapper.header {
    max-width: @max-page-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6em @page-horizontal-padding 0 0;

    .account-options {
      padding-right: 0;
      padding-top: 0;
      position: relative;
      float:right;

      a.js-user-menu {
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.2em;

        &:before,
        &:after {
          position: absolute;
          top: 0;
          .font-icons;
          color: @color-grey054;

          &:hover {
            color: @color-text;
          }
        }

        &:before {
          //content: 'p';  // user icon
          left: 19px;
          font-size: 18px;
        }

        &:after {
          content: 'ß';
          right: 0px;
          font-size: 16px;
        }
      }
    }

    a {
      .font-s2;
      .type-light;
      color: @color-text;
      letter-spacing: 0.02em;
      
      &:hover {
        .type-bold;
        letter-spacing: -0.015em;
        color: @color-text;
      }
    }

    ul.page-sections {
      padding-left: @page-horizontal-padding;

      li {
        display: inline-block;
        margin-right: 10px;
        list-style: none;
  
        a {
          .font-s2;
          .type-light;
          text-transform: uppercase;

          &:hover {
            letter-spacing: 0.02em;
          }
        }
      }
    }

    ul.main-navigation {
      padding-left: 0.85em;

      li {
        display: inline-block;
        list-style: none;
        .font-l1;
        .type-light;
        line-height: 1.27em;
        letter-spacing: -0.03em;

        &:after {
          content:'/';
          opacity: 0.5;
        }

        &:last-child {
          .type-regular;
          //font-weight: bold;

          &:after {
            content:'';
            opacity: 0.5;
          }
        }
        a {
          .font-l1;
          .type-light;
          letter-spacing: -0.03em;

          &:hover {
            color: @color-primary;
          }
        }
      }

      // li.dashboard {
      //   padding-left: 8px;
      // }

      li.home-link {
        margin-right: -20px;

        a {
          content: " ";
          position: relative;
          display: inline-block;
          margin-right: -17px;
          left: -6px;
          top: 5px;  
          width: 55px;
          height: 34px;
          background: url(images/ac-logosmall-dark.png) center center no-repeat;
          background-size: cover;
        }
        &:after {
          opacity: 0;
        }
      }
    }
  }
}

header.main-header .sub-header {
  padding-left: @page-horizontal-padding;
  //padding-top:10px;

  .sub-pages {

    a{
      padding-bottom: 6px;
      margin-top: -10px;
      margin-right: 2em;
      .font-s3;
      .type-light;
      color: @color-text;
      letter-spacing: 0.02em;
      
      &:hover {
        letter-spacing: -0.01em;
      }

    }
    a.active {
      .type-bold;
      letter-spacing: -0.015em;
      border-bottom: 1px solid @color-primary;
    }
  }
}