  @import "/client/stylesheets/utils.less";

a {
  text-decoration: none;
}

.user.menu {
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  padding:10px;
  position: relative;
}

header.main-header {
  padding: 0.6em @page-horizontal-padding 0 0;
  background-color: @color-grey091;
  min-height: 110px;

  .account-options {
    float:right;
  }

  a {
    color: #444;
  }

  ul.page-sections {
    padding-left: @page-horizontal-padding;

    li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
    }
  }

  ul.main-navigation {
    padding-left: 0.25em;

    li {
      display: inline-block;
      list-style: none;
      .font-l1;
      .type-light;
      line-height: 1.5em;
      //padding-top: 0.5em;

      &:after {
        content:'/';
        opacity: 0.5;
      }

      &:first-child:before {
        content: " ";
        position: relative;
        display: inline-block;
        margin-right: -17px;
        left: -0.1em;
        top: 5px;  
        width: 55px;
        height: 34px;
        background: url(images/ac-logosmall-dark.png) center center no-repeat;
        background-size: cover;
      }

      &:last-child {
        font-weight: bold;

        &:after {
          content:'';
          opacity: 0.5;
        }
      }
      a {
        font-family:'sourcesanspro-light';

        &:hover {
          color:red;
        }
      }
    }
  }
}

header.main-header .sub-header {
  padding-top:10px;
  a{
    margin-right:2em;
  }
  a.active {
    font-weight: bold;
  }
}