<template name="app_layout">
<!--   <a href="/post/post-1">post 1</a>
  <a href="/post/post-2">post 2</a>
  <a href="/post/post-3">post 3</a>
  <a href="/">home</a>
  <hr>
 -->
  {{#if currentUser}}
    <div class="btns-group-vertical">
      <a href="#" class="js-user-menu btn-secondary">
        {{#if userMenuOpen}}
          <span class="icon-arrow-up">UP</span>
          {{else}}
          <span class="icon-arrow-down">DOWN</span>
        {{/if}}

        {{emailLocalPart}}
      </a>
      <!-- {{#if userMenuOpen}} -->
        LOGOUT
        <a class="js-logout btn-secondary">Logout</a>
      <!-- {{/if}} -->
    </div>
  {{else}}
  sd
    <div class="btns-group">
      <a href="{{pathFor 'signin'}}" class="btn-secondary">{{_ 'Sign In'}}</a>
      <a href="{{pathFor 'join'}}" class="btn-secondary">{{_ 'Join'}}</a>
    </div>
  {{/if}}


  {{> Template.dynamic template=main}}


</template>
