<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Accessibility Cloud – Welcome</title>
    <link rel="StyleSheet" href="/styles/common.css" type="text/css" media="all"/>
    <link rel="StyleSheet" href="/styles/layout.css" type="text/css" media="all"/>
    <link rel="StyleSheet" href="/styles/fonts.css" type="text/css" media="all"/>
    <link rel="StyleSheet" href="/styles/view_place.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    
    <script src="/js/ac.js"></script>

  </head>
  <body>
	{{{body}}}
  </body>
</html>

