<template name='header_logged_in'>
  <div class='account-options'>
    {{#if currentUser}}
      <div class="btns-group-vertical ">
        <a href="#" class="js-user-menu btn-secondary">
          {{#if userMenuOpen}}
            <span class="icon-arrow-up"></span>
            {{else}}
            <span class="icon-arrow-down"></span>
          {{/if}}

          {{{getCurrentUserIconHTML}}} {{getCurrentUserName}}

          {{#if isAdmin}}
            ({{_"ADMIN"}})
          {{/if}}
        </a>
        {{#if userMenuOpen}}
          <div class='user menu'>
            <a class="js-logout btn-secondary">Logout</a>
          </div>
        {{/if}}
      </div>
    {{else}}
      <div class="btns-group">
        <a href="{{pathFor 'signin'}}" class="btn-secondary">{{_ 'Sign In'}}</a>
        <a href="{{pathFor 'join'}}" class="btn-secondary">{{_ 'Join'}}</a>
      </div>
    {{/if}}
  </div>

  <header class='main-header'>
    <div class='wrapper header'>
      <ul class='page-sections'>
        <li>
          <a href='{{pathFor "dashboard"}}'  class='{{activeIfRouteGroupNameMatches "data"}}'>{{_ 'Organizations'}}</a>
        </li>
        <li>
          <a href='https://github.com/sozialhelden/accessibility-cloud/blob/master/README.md'>{{_'Learn'}}</a>
        </li>
        {{#if isAdmin}}
          <li>
            <a href='{{pathFor "admin.admin_page"}}' class='{{activeIfRouteGroupNameMatches "admin"}}'>{{_'Admin'}}</a>
          </li>
        {{/if}}
        <li>
          <a href='{{pathFor "imprint"}}' class='{{activeIfRouteNameMatches "imprint"}}'>{{_'Legal'}}</a>
        </li>

      </ul>
      <ul class='main-navigation'>
        <li class='home-link'>
          <a href='/'> </a>
        </li>
        {{#if userCanAccessPageWithCurrentApprovalState main}}
          {{> Template.dynamic template=header_navigation_list}}
        {{else}}
          {{> header_approval_needed }}
        {{/if}}
      </ul>
      <div class='sub-header'>
        {{#if isApproved}}
          {{> Template.dynamic template=header_sub}}
        {{/if}}
      </div>
    </div>
  </header>
</template>
