body.ac-example {
  font-family: 'Helvetica Neue', sans-serif;
}

.ac-result-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ac-result {
  margin: 0 0 1em 0;
  padding: 0;
}

.ac-result-name {
  font-weight: bold;
}

.ac-result-accessibility {
  // font-family: monospace;
  // white-space: nowrap;
  white-space: pre;
  font-family: 'Helvetica Neue', sans-serif;
}

.ac-result li.ac-group > span {
  font-weight: bold;
}

.ac-result ul {
  padding:0 0 0.5em 1em;
}

.ac-result ul.ac-list {
  padding:0 0 0.5em 0em;
}

/*
.ac-result li {
  padding:0 0 0.5em 1em;
}*/

.ac-result li.ac-group {
  padding:0.5em 0 0.5em 0em;
}


.ac-result li {
  list-style: none;
}