<template name="app_layout_scrollable">
  {{#unless connected}}
    <div class="offline-indicator">
      <span>{{_"Trying to connect..."}}</span>
    </div>
  {{/unless}}
  {{> header_logged_in}}

  <div class='page-content centered {{main}}'>
    {{#if userCanAccessPageWithCurrentApprovalState main}}
      {{> Template.dynamic template=main}}
    {{else}}
      {{#if Template.subscriptionsReady}}
        {{> page_approval_needed}}
      {{else}}
        {{> App_loading}}
      {{/if}}
    {{/if}}
  </div>
</template>
