<template name="app_layout_scrollable">
  {{#unless connected}}
    <div class="offline-indicator">
      <span>{{_"Trying to connect..."}}</span>
    </div>
  {{/unless}}

  <header class='main-header'>
    <div class='wrapper header'>
      <div class='account-options'>
        {{#if currentUser}}
          <div class="btns-group-vertical ">
            <a href="#" class="js-user-menu btn-secondary">
              {{#if userMenuOpen}}
                <span class="icon-arrow-up"></span>
                {{else}}
                <span class="icon-arrow-down"></span>
              {{/if}}

              {{userEmail}}
            </a>
            {{#if userMenuOpen}}
              <div class='user menu'>
                <a class="js-logout btn-secondary">Logout</a>
              </div>
            {{/if}}
          </div>
        {{else}}
          <div class="btns-group">
            <a href="{{pathFor 'signin'}}" class="btn-secondary">{{_ 'Sign In'}}</a>
            <a href="{{pathFor 'join'}}" class="btn-secondary">{{_ 'Join'}}</a>
          </div>
        {{/if}}
      </div>
      <ul class='page-sections'>
        <li>
          <a href='{{pathFor "dashboard"}}' class='{{activeIfRouteNameMatches "^dashboard|manage"}}'>{{_ 'Manage'}}</a>
        </li>
        <li><a href='{{pathFor "browse.dashboard"}}'  class='{{activeIfRouteNameMatches "browse"}}'>{{_ 'Browse'}}</a></li>
        <li><a href='https://github.com/sozialhelden//tree/master/docs'>{{_'Learn'}}</a></li>
      </ul>
      <ul class='main-navigation'>
        <li class='home-link'>
          <a href='/'> </a>
        </li>
        {{#if userCanAccessPageWithCurrentApprovalState main}}
          {{> Template.dynamic template=header_navigation_list}}
        {{else}}
          {{> header_approval_needed }}
        {{/if}}
      </ul>
      <div class='sub-header'>
        {{#if isApproved}}
          {{> Template.dynamic template=header_sub}}
        {{/if}}
      </div>
    </div>
  </header>

  <div class='page-content centered {{main}}'>
    {{#if userCanAccessPageWithCurrentApprovalState main}}
      {{> Template.dynamic template=main}}
    {{else}}
      {{#if Template.subscriptionsReady}}
        {{> page_approval_needed}}
      {{else}}
        {{> App_loading}}
      {{/if}}
    {{/if}}
  </div>
</template>
